@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

body{
	display: flex;
	background: #1a1a1a;
	height: 100vh;
	align-items: center;
	justify-content: center;
    font-family: "Poppins";
	margin: 0px; padding: 0px;
}
.card{
	position: absolute;
	display:flex;
	align-items: center;
	justify-content: center;
	margin: 0px;
	padding: 0px;
	background-position: center;
	background-size: 100%;
	background-image: linear-gradient(55deg,#1a1a1a 20%, red 40%, purple 60%, #1a1a1a 80%);
	width: 250px;
	height: 350px;
	border-radius: 20px;
	background-size: 100%;
	transition: 1s;

}
.content{
	display:flex;
	align-items: center;
	justify-content: center;
	margin: 0px;
	width: 240px;
	height: 340px;
	background: #1a1a1a;
	border-radius: 15px;
}
p{
	color: white;
	font-family: roboto, sans-serif;
	font-size: 30px;
}
.card:hover{
	background-position: center;
	background-size: 1000%;
	transition: 2s;
}